{% extends "base.html" %}

{% block content %}

  <section class="panel panel_quote quote">
    <blockquote class="quote__text"> {{ text | safe }} </blockquote>
    <footer class="quote__description">
        <p class="description-item">
          <span class="description-item__ico description-item__ico_author"> </span>
          <span class="description-item__txt">Author: {{ author }}</span>
        </p>
        <p class="description-item">
          <span class="description-item__ico description-item__ico_post"> </span>
          <span class="description-item__txt">Posted by: {{ user }} on {{ date }}</span>
        </p>
        <p class="description-item">
          <span class="description-item__ico description-item__ico_tag"> </span>
          <span class="description-item__txt">Category: {{ tags }} </span>
        </p>
       

    </footer>
  </section>


  <div class="panel panel_actions">
    <button class="btn" onClick="window.location.reload();">Show more!</button>
  </div>  


{% endblock %}