p, h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
  
  @font-face {
    font-family: Iceland;
      src: url("../fonts/Iceland-Regular.ttf");
  }
   
  body {
    font-family: Iceland, Monospace, sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    color: #606c76;
    background-color: #000;
    margin: 0;
    padding: 0;
  }
  
  .page-header {
    text-align: center;
    color: #aaaaaa;
  }
  
  .panel {
    padding: 20px;
  }
  
  .quote__text {
    font-size: 4vw;
    text-align: center;
    line-height: 1;
    color: #fff;
    margin: 0 auto;
    padding: 10px 15px 25px 15px;
  }

  @media (min-width: 768px) {
    .quote__text { 
      min-height: 200px;
    }
  }
  
  .quote__text strong {
    font-weight: bold;
    color: #d09f9f;
  }
  
  .quote__description {
    font-size: 0.7em;
    text-align: left;
    color: #ccc;
    margin: 0;
  }
  
  .description-item{
    padding: 5px;
  }

  .description-item__ico {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
  
  .description-item__ico_tag {
    background-image: url("../images/tag.svg");
  }
  
  .description-item__ico_author {
    background-image: url("../images/author.svg");
  }
  
  .description-item__ico_post {
    background-image: url("../images/post.svg");
  }
  
  .btn {
    width: 150px;
    height: 40px;
    color: #000;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Iceland;

  }
  
  .btn:hover {
    cursor: pointer;
    background-color: #eee;
  }

  .add_sign {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    background-image: url("../images/plus_sign.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .add_sign:hover {
    cursor: pointer;
  }

  table {
    width: 100%;
  }

  th {
    width: 10%;
  }

  th, td {
    padding: 15px 10px 10px;
    text-align: left;
    vertical-align: top;
  }

  label {
    color: #ffffff;
  }

  textarea {
    width: 80%;
    font-size: inherit;
  }

  select, 
  input {
    width: 270px;
    height: 50px;
    padding: 0 5px;
    border: 0;
  }

  .select2-selection, 
  .select2-selection__rendered, 
  .select2-selection__arrow,
  .select2-search__field {
    height: 50px !important;  
    line-height: 40px !important;
    font-family: inherit;
    font-size: inherit !important;
    margin-top: 0 !important;
    padding: 0 !important;
}

  .select2-selection {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .select2-selection__choice {
    height: 35px;
  }

  .select2-selection__placeholder {
    color: #777 !important;
  }

 .select2-selection--single, 
 .select2-selection--multiple {
    border-radius: 0 !important;
  }

  .select2-container {
    min-width: 270px;
    width: auto !important;
  }